.faq1-wrapper {
  display: contents;
}
 
.faq1faq7 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.faq1-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.faq1-text11 {
  text-align: center;
}
 
.faq1-list-item1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-faq1-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-list-item2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-faq2-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-list-item3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-faq3-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-list-item4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-faq4-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-list-item5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.faq1-faq5-question {
  font-style: normal;
  font-weight: 600;
}
 
.faq1-content2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.faq1-text13 {
  text-align: center;
}
 
.faq1-container {
  display: flex;
  position: relative;
}
 
.fa-qs-fragment13 {
  display: contents;
}
 
.fa-qs-text28 {
  display: inline-block;
}
 
.fa-qs-fragment10 {
  display: contents;
}
 
.fa-qs-text25 {
  display: inline-block;
}
 
.fa-qs-fragment20 {
  display: contents;
}
 
.fa-qs-text35 {
  display: inline-block;
}
 
.fa-qs-fragment12 {
  display: contents;
}
 
.fa-qs-text27 {
  display: inline-block;
}
 
.fa-qs-fragment19 {
  display: contents;
}
 
.fa-qs-text34 {
  display: inline-block;
}
 
.fa-qs-fragment17 {
  display: contents;
}
 
.fa-qs-text32 {
  display: inline-block;
}
 
.fa-qs-fragment14 {
  display: contents;
}
 
.fa-qs-text29 {
  display: inline-block;
}
 
.fa-qs-fragment11 {
  display: contents;
}
 
.fa-qs-text26 {
  display: inline-block;
}
 
.fa-qs-fragment15 {
  display: contents;
}
 
.fa-qs-text30 {
  display: inline-block;
}
 
.fa-qs-fragment24 {
  display: contents;
}
 
.fa-qs-text39 {
  display: inline-block;
}
 
.fa-qs-fragment18 {
  display: contents;
}
 
.fa-qs-text33 {
  display: inline-block;
}
 
.fa-qs-fragment23 {
  display: contents;
}
 
.fa-qs-text38 {
  display: inline-block;
}
 
.fa-qs-fragment16 {
  display: contents;
}
 
.fa-qs-text31 {
  display: inline-block;
}
 
.fa-qs-fragment21 {
  display: contents;
}
 
.fa-qs-text36 {
  display: inline-block;
}
 
.fa-qs-fragment22 {
  display: contents;
}
 
.fa-qs-text37 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .faq1-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 767px) {
  .faq1-text11 {
    text-align: left;
  }
  .faq1-list {
    gap: var(--dl-layout-space-twounits);
  }
  .faq1-button {
    width: 100%;
  }
}

.fa-qs-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.fa-qs-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.fa-qs-navlink1 {
  display: contents;
}
 
.fa-qs-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.fa-qs-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.fa-qs-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 351px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.fa-qs-link21 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
}
 
.fa-qs-link31 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.fa-qs-link22 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
}
 
.fa-qs-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.fa-qs-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.fa-qs-dropdown-arrow1 {
  transition: 0.3s;
}
 
.fa-qs-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.fa-qs-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.fa-qs-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle11 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.fa-qs-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.fa-qs-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.fa-qs-text15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.fa-qs-dropdown-arrow2 {
  transition: 0.3s;
}
 
.fa-qs-icon12 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.fa-qs-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.fa-qs-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-dropdown9 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.fa-qs-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.fa-qs-text19 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.fa-qs-buttons1 {
  gap: var(--dl-layout-space-twounits);
  width: 413px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.fa-qs-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.fa-qs-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.fa-qs-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.fa-qs-text21 {
  color: #000000;
}
 
.fa-qs-action22 {
  display: flex;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.fa-qs-text22 {
  color: #000000;
}
 
.fa-qs-burger-menu {
  display: none;
}
 
.fa-qs-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.fa-qs-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.fa-qs-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.fa-qs-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.fa-qs-logo {
  height: 3rem;
}
 
.fa-qs-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.fa-qs-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.fa-qs-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.fa-qs-link1 {
  text-decoration: none;
}
 
.fa-qs-link32 {
  text-decoration: none;
}
 
.fa-qs-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.fa-qs-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.fa-qs-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.fa-qs-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.fa-qs-icon18 {
  width: 24px;
  height: 24px;
}
 
.fa-qs-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.fa-qs-icon20 {
  width: 24px;
  height: 24px;
}
 
.fa-qs-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.fa-qs-menu-item1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.fa-qs-page1-image1 {
  width: 50px;
  height: 50px;
}
 
.fa-qs-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.fa-qs-page11 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-menu-item2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.fa-qs-page2-image1 {
  width: 50px;
  height: 50px;
}
 
.fa-qs-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.fa-qs-page21 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-menu-item3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.fa-qs-page3-image1 {
  width: 50px;
  height: 50px;
}
 
.fa-qs-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.fa-qs-page31 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-menu-item4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.fa-qs-page4-image1 {
  width: 50px;
  height: 50px;
}
 
.fa-qs-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.fa-qs-page41 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.fa-qs-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.fa-qs-container6 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.fa-qs-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-layout-space-oneandhalfunits);
  grid-gap: var(--dl-layout-space-halfunit);
  max-width: var(--dl-layout-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.fa-qs-menu-item5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.fa-qs-page1-image2 {
  width: 30px;
  height: 30px;
}
 
.fa-qs-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.fa-qs-page12 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-menu-item6 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.fa-qs-page2-image2 {
  width: 30px;
  height: 30px;
}
 
.fa-qs-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.fa-qs-page22 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-menu-item7 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.fa-qs-page3-image2 {
  width: 30px;
  height: 30px;
}
 
.fa-qs-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.fa-qs-page32 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-menu-item8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.fa-qs-page4-image2 {
  width: 30px;
  height: 30px;
}
 
.fa-qs-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.fa-qs-page42 {
  font-style: normal;
  font-weight: 600;
}
 
.fa-qs-fragment10 {
  display: contents;
}
 
.fa-qs-text25 {
  display: inline-block;
}
 
.fa-qs-fragment11 {
  display: contents;
}
 
.fa-qs-text26 {
  display: inline-block;
}
 
.fa-qs-fragment12 {
  display: contents;
}
 
.fa-qs-text27 {
  display: inline-block;
}
 
.fa-qs-fragment13 {
  display: contents;
}
 
.fa-qs-text28 {
  display: inline-block;
}
 
.fa-qs-fragment14 {
  display: contents;
}
 
.fa-qs-text29 {
  display: inline-block;
}
 
.fa-qs-fragment15 {
  display: contents;
}
 
.fa-qs-text30 {
  display: inline-block;
}
 
.fa-qs-fragment16 {
  display: contents;
}
 
.fa-qs-text31 {
  display: inline-block;
}
 
.fa-qs-fragment17 {
  display: contents;
}
 
.fa-qs-text32 {
  display: inline-block;
}
 
.fa-qs-fragment18 {
  display: contents;
}
 
.fa-qs-text33 {
  display: inline-block;
}
 
.fa-qs-fragment19 {
  display: contents;
}
 
.fa-qs-text34 {
  display: inline-block;
}
 
.fa-qs-fragment20 {
  display: contents;
}
 
.fa-qs-text35 {
  display: inline-block;
}
 
.fa-qs-fragment21 {
  display: contents;
}
 
.fa-qs-text36 {
  display: inline-block;
}
 
.fa-qs-fragment22 {
  display: contents;
}
 
.fa-qs-text37 {
  display: inline-block;
}
 
.fa-qs-fragment23 {
  display: contents;
}
 
.fa-qs-text38 {
  display: inline-block;
}
 
.fa-qs-fragment24 {
  display: contents;
}
 
.fa-qs-text39 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .fa-qs-desktop-menu {
    display: none;
  }
  .fa-qs-burger-menu {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .fa-qs-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .fa-qs-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .fa-qs-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .fa-qs-container5 {
    grid-gap: 0;
  }
  .fa-qs-link5-menu-list {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .fa-qs-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .fa-qs-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
