.navbar8-wrapper {
  display: contents;
}
 
.navbar8-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar8-navlink1 {
  display: contents;
}
 
.navbar8-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar8-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 351px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-link21 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.navbar8-link31 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.navbar8-link22 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.navbar8-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar8-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar8-dropdown-arrow1 {
  transition: 0.3s;
}
 
.navbar8-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar8-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.navbar8-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle11 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar8-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar8-text15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar8-dropdown-arrow2 {
  transition: 0.3s;
}
 
.navbar8-icon12 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar8-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.navbar8-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-navlink3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar8-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-dropdown9 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar8-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar8-text18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar8-buttons1 {
  gap: var(--dl-layout-space-twounits);
  width: 413px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar8-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar8-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar8-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar8-text20 {
  color: #000000;
}
 
.navbar8-action22 {
  display: flex;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.navbar8-text21 {
  color: #000000;
}
 
.navbar8-burger-menu {
  display: none;
}
 
.navbar8-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar8-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar8-logo {
  height: 3rem;
}
 
.navbar8-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar8-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar8-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar8-link1 {
  text-decoration: none;
}
 
.navbar8-link32 {
  text-decoration: none;
}
 
.navbar8-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar8-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-icon18 {
  width: 24px;
  height: 24px;
}
 
.navbar8-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar8-icon20 {
  width: 24px;
  height: 24px;
}
 
.navbar8-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.navbar8-menu-item1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page1-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page11 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page2-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page21 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page3-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page31 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page4-image1 {
  width: 50px;
  height: 50px;
}
 
.navbar8-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page41 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar8-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar8-container6 {
  top: 100%;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  animation-name: fadeInDownBig;
  animation-delay: 0s;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.navbar8-link5-menu-list {
  width: 100%;
  display: grid;
  padding: var(--dl-layout-space-oneandhalfunits);
  grid-gap: var(--dl-layout-space-halfunit);
  max-width: var(--dl-layout-size-maxwidth);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.navbar8-menu-item5 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-page1-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-content5 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-page12 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item6 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-page2-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-content6 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-page22 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item7 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-page3-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-content7 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-page32 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item8 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  text-decoration: none;
}
 
.navbar8-page4-image2 {
  width: 30px;
  height: 30px;
}
 
.navbar8-content8 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-page42 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-container7 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.features-fragment29 {
  display: contents;
}
 
.features-text29 {
  display: inline-block;
}
 
.features-fragment12 {
  display: contents;
}
 
.features-text12 {
  display: inline-block;
}
 
.features-fragment36 {
  display: contents;
}
 
.features-text36 {
  display: inline-block;
}
 
.features-fragment20 {
  display: contents;
}
 
.features-text20 {
  display: inline-block;
  font-size: 16px;
}
 
.features-fragment25 {
  display: contents;
}
 
.features-text25 {
  display: inline-block;
}
 
.features-fragment10 {
  display: contents;
}
 
.features-text10 {
  display: inline-block;
}
 
.features-fragment28 {
  display: contents;
}
 
.features-text28 {
  display: inline-block;
}
 
.features-fragment16 {
  display: contents;
}
 
.features-text16 {
  display: inline-block;
}
 
.features-fragment21 {
  display: contents;
}
 
.features-text21 {
  display: inline-block;
}
 
.features-fragment15 {
  display: contents;
}
 
.features-text15 {
  display: inline-block;
}
 
.features-fragment31 {
  display: contents;
}
 
.features-text31 {
  display: inline-block;
}
 
.features-fragment19 {
  display: contents;
}
 
.features-text19 {
  display: inline-block;
}
 
.features-fragment34 {
  display: contents;
}
 
.features-text34 {
  display: inline-block;
}
 
.features-fragment35 {
  display: contents;
}
 
.features-text35 {
  display: inline-block;
}
 
.features-fragment17 {
  display: contents;
}
 
.features-text17 {
  display: inline-block;
}
 
.features-fragment18 {
  display: contents;
}
 
.features-text18 {
  display: inline-block;
}
 
.features-fragment23 {
  display: contents;
}
 
.features-text23 {
  display: inline-block;
}
 
.features-fragment14 {
  display: contents;
}
 
.features-text14 {
  display: inline-block;
}
 
.features-fragment32 {
  display: contents;
}
 
.features-text32 {
  display: inline-block;
}
 
.features-fragment33 {
  display: contents;
}
 
.features-text33 {
  display: inline-block;
}
 
.features-fragment13 {
  display: contents;
}
 
.features-text13 {
  display: inline-block;
}
 
.features-fragment30 {
  display: contents;
}
 
.features-text30 {
  display: inline-block;
}
 
.features-fragment22 {
  display: contents;
}
 
.features-text22 {
  display: inline-block;
}
 
.features-fragment24 {
  display: contents;
}
 
.features-text24 {
  display: inline-block;
}
 
.features-fragment27 {
  display: contents;
}
 
.features-text27 {
  display: inline-block;
}
 
.features-fragment26 {
  display: contents;
}
 
.features-text26 {
  display: inline-block;
}
 
.features-fragment11 {
  display: contents;
}
 
.features-text11 {
  display: inline-block;
}
 

 

 

 

 

 
@media(max-width: 991px) {
  .navbar8-desktop-menu {
    display: none;
  }
  .navbar8-burger-menu {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .navbar8-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar8-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar8-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .navbar8-container5 {
    grid-gap: 0;
  }
  .navbar8-link5-menu-list {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .navbar8-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar8-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.features121-wrapper {
  display: contents;
}
 
.features121-layout349 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features121-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features121-video {
  width: 100%;
}
 
.features121-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features121-text1 {
  align-self: center;
  text-align: center;
}
 
.features121-text2 {
  align-self: center;
  text-align: center;
}
 
.features121-text3 {
  align-self: center;
  text-align: center;
}
 
.features121-actions {
  align-self: center;
}
 
.features-fragment41 {
  display: contents;
}
 
.features-text41 {
  display: inline-block;
}
 
.features-fragment40 {
  display: contents;
}
 
.features-text40 {
  display: inline-block;
}
 
.features-fragment38 {
  display: contents;
}
 
.features-text38 {
  display: inline-block;
}
 
.features-fragment39 {
  display: contents;
}
 
.features-text39 {
  display: inline-block;
}
 
.features-fragment37 {
  display: contents;
}
 
.features-text37 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features121-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .features121-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features121-actions {
    width: 100%;
    flex-direction: column;
  }
  .features121-button1 {
    width: 100%;
  }
  .features121-button2 {
    width: 100%;
  }
}

.features16-wrapper {
  display: contents;
}
 
.features16-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features16-section-title {
  gap: 16px;
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-text10 {
  text-align: center;
}
 
.features16-content1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.features16-text11 {
  text-align: center;
}
 
.features16-text12 {
  text-align: center;
}
 
.features16-content2 {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.features16-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}
 
.features16-feature1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-feature1-title {
  text-align: center;
}
 
.features16-feature2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features16-feature3 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features16-content5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features-fragment47 {
  display: contents;
}
 
.features-text47 {
  display: inline-block;
}
 
.features-fragment49 {
  display: contents;
}
 
.features-text49 {
  display: inline-block;
}
 
.features-fragment42 {
  display: contents;
}
 
.features-text42 {
  display: inline-block;
}
 
.features-fragment44 {
  display: contents;
}
 
.features-text44 {
  display: inline-block;
}
 
.features-fragment46 {
  display: contents;
}
 
.features-text46 {
  display: inline-block;
}
 
.features-fragment43 {
  display: contents;
}
 
.features-text43 {
  display: inline-block;
}
 
.features-fragment50 {
  display: contents;
}
 
.features-text50 {
  display: inline-block;
}
 
.features-fragment45 {
  display: contents;
}
 
.features-text45 {
  display: inline-block;
}
 
.features-fragment48 {
  display: contents;
}
 
.features-text48 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features16-section-title {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .features16-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features16-section-title {
    width: auto;
  }
  .features16-text11 {
    text-align: center;
  }
  .features16-row {
    flex-direction: column;
  }
  .features16-feature2 {
    width: auto;
  }
  .features16-feature3 {
    width: auto;
  }
}

.features22-wrapper {
  display: contents;
}
 
.features22-layout349 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features22-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features22-container1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
}
 
.features22-text11 {
  text-align: center;
}
 
.features22-container2 {
  width: 100%;
}
 
.features22-card10 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image10 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text13 {
  text-align: center;
}
 
.features22-card11 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image11 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text15 {
  text-align: center;
}
 
.features22-card12 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image12 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text17 {
  text-align: center;
}
 
.features22-card13 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image13 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text19 {
  text-align: center;
}
 
.features22-card14 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image14 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text21 {
  text-align: center;
}
 
.features22-card15 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image15 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text23 {
  text-align: center;
}
 
.features22-card16 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image16 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text25 {
  text-align: center;
}
 
.features22-card17 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image17 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text27 {
  text-align: center;
}
 
.features22-card18 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image18 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text29 {
  text-align: center;
}
 
.features22-card19 {
  color: var(--dl-color-theme-neutral-light);
  height: 463px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image19 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text31 {
  text-align: center;
}
 
.features22-card20 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.features22-image20 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text33 {
  text-align: center;
}
 
.features22-card21 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image21 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text35 {
  text-align: center;
}
 
.features22-card22 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.features22-image22 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text37 {
  text-align: center;
}
 
.features22-card23 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.features22-image23 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text39 {
  text-align: center;
}
 
.features22-card24 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image24 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text41 {
  text-align: center;
}
 
.features22-card25 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.features22-image25 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text43 {
  text-align: center;
}
 
.features22-card26 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-primary2);
}
 
.features22-image26 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  object-fit: cover;
}
 
.features22-text45 {
  text-align: center;
}
 
.features-fragment77 {
  display: contents;
}
 
.features-text77 {
  display: inline-block;
}
 
.features-fragment63 {
  display: contents;
}
 
.features-text63 {
  display: inline-block;
}
 
.features-fragment73 {
  display: contents;
}
 
.features-text73 {
  display: inline-block;
}
 
.features-fragment69 {
  display: contents;
}
 
.features-text69 {
  display: inline-block;
}
 
.features-fragment71 {
  display: contents;
}
 
.features-text71 {
  display: inline-block;
}
 
.features-fragment86 {
  display: contents;
}
 
.features-text86 {
  display: inline-block;
}
 
.features-fragment79 {
  display: contents;
}
 
.features-text79 {
  display: inline-block;
}
 
.features-fragment62 {
  display: contents;
}
 
.features-text62 {
  display: inline-block;
}
 
.features-fragment70 {
  display: contents;
}
 
.features-text70 {
  display: inline-block;
}
 
.features-fragment66 {
  display: contents;
}
 
.features-text66 {
  display: inline-block;
}
 
.features-fragment54 {
  display: contents;
}
 
.features-text54 {
  display: inline-block;
}
 
.features-fragment84 {
  display: contents;
}
 
.features-text84 {
  display: inline-block;
}
 
.features-fragment80 {
  display: contents;
}
 
.features-text80 {
  display: inline-block;
}
 
.features-fragment83 {
  display: contents;
}
 
.features-text83 {
  display: inline-block;
}
 
.features-fragment78 {
  display: contents;
}
 
.features-text78 {
  display: inline-block;
}
 
.features-fragment52 {
  display: contents;
}
 
.features-text52 {
  display: inline-block;
}
 
.features-fragment75 {
  display: contents;
}
 
.features-text75 {
  display: inline-block;
}
 
.features-fragment64 {
  display: contents;
}
 
.features-text64 {
  display: inline-block;
}
 
.features-fragment61 {
  display: contents;
}
 
.features-text61 {
  display: inline-block;
}
 
.features-fragment67 {
  display: contents;
}
 
.features-text67 {
  display: inline-block;
}
 
.features-fragment81 {
  display: contents;
}
 
.features-text81 {
  display: inline-block;
}
 
.features-fragment65 {
  display: contents;
}
 
.features-text65 {
  display: inline-block;
}
 
.features-fragment85 {
  display: contents;
}
 
.features-text85 {
  display: inline-block;
}
 
.features-fragment51 {
  display: contents;
}
 
.features-text51 {
  display: inline-block;
}
 
.features-fragment68 {
  display: contents;
}
 
.features-text68 {
  display: inline-block;
}
 
.features-fragment72 {
  display: contents;
}
 
.features-text72 {
  display: inline-block;
}
 
.features-fragment60 {
  display: contents;
}
 
.features-text60 {
  display: inline-block;
}
 
.features-fragment76 {
  display: contents;
}
 
.features-text76 {
  display: inline-block;
}
 
.features-fragment57 {
  display: contents;
}
 
.features-text57 {
  display: inline-block;
}
 
.features-fragment56 {
  display: contents;
}
 
.features-text56 {
  display: inline-block;
}
 
.features-fragment53 {
  display: contents;
}
 
.features-text53 {
  display: inline-block;
}
 
.features-fragment58 {
  display: contents;
}
 
.features-text58 {
  display: inline-block;
}
 
.features-fragment55 {
  display: contents;
}
 
.features-text55 {
  display: inline-block;
}
 
.features-fragment74 {
  display: contents;
}
 
.features-text74 {
  display: inline-block;
}
 
.features-fragment82 {
  display: contents;
}
 
.features-text82 {
  display: inline-block;
}
 
.features-fragment59 {
  display: contents;
}
 
.features-text59 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features22-max-width {
    flex-direction: column;
  }
  .features22-container1 {
    margin-bottom: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 767px) {
  .features22-container1 {
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .features22-card10 {
    width: 100%;
  }
  .features22-card11 {
    width: 100%;
  }
  .features22-card12 {
    width: 100%;
  }
  .features22-card13 {
    width: 100%;
  }
  .features22-card14 {
    width: 100%;
  }
  .features22-card15 {
    width: 100%;
  }
  .features22-card16 {
    width: 100%;
  }
  .features22-card17 {
    width: 100%;
  }
  .features22-card18 {
    width: 100%;
  }
  .features22-card19 {
    width: 100%;
  }
  .features22-card20 {
    width: 100%;
  }
  .features22-card21 {
    width: 100%;
  }
  .features22-card22 {
    width: 100%;
  }
  .features22-card23 {
    width: 100%;
  }
  .features22-card24 {
    width: 100%;
  }
  .features22-card25 {
    width: 100%;
  }
  .features22-card26 {
    width: 100%;
  }
}

.features-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.features-fragment10 {
  display: contents;
}
 
.features-text10 {
  display: inline-block;
}
 
.features-fragment11 {
  display: contents;
}
 
.features-text11 {
  display: inline-block;
}
 
.features-fragment12 {
  display: contents;
}
 
.features-text12 {
  display: inline-block;
}
 
.features-fragment13 {
  display: contents;
}
 
.features-text13 {
  display: inline-block;
}
 
.features-fragment14 {
  display: contents;
}
 
.features-text14 {
  display: inline-block;
}
 
.features-fragment15 {
  display: contents;
}
 
.features-text15 {
  display: inline-block;
}
 
.features-fragment16 {
  display: contents;
}
 
.features-text16 {
  display: inline-block;
}
 
.features-fragment17 {
  display: contents;
}
 
.features-text17 {
  display: inline-block;
}
 
.features-fragment18 {
  display: contents;
}
 
.features-text18 {
  display: inline-block;
}
 
.features-fragment19 {
  display: contents;
}
 
.features-text19 {
  display: inline-block;
}
 
.features-fragment20 {
  display: contents;
}
 
.features-text20 {
  display: inline-block;
  font-size: 16px;
}
 
.features-fragment21 {
  display: contents;
}
 
.features-text21 {
  display: inline-block;
}
 
.features-fragment22 {
  display: contents;
}
 
.features-text22 {
  display: inline-block;
}
 
.features-fragment23 {
  display: contents;
}
 
.features-text23 {
  display: inline-block;
}
 
.features-fragment24 {
  display: contents;
}
 
.features-text24 {
  display: inline-block;
}
 
.features-fragment25 {
  display: contents;
}
 
.features-text25 {
  display: inline-block;
}
 
.features-fragment26 {
  display: contents;
}
 
.features-text26 {
  display: inline-block;
}
 
.features-fragment27 {
  display: contents;
}
 
.features-text27 {
  display: inline-block;
}
 
.features-fragment28 {
  display: contents;
}
 
.features-text28 {
  display: inline-block;
}
 
.features-fragment29 {
  display: contents;
}
 
.features-text29 {
  display: inline-block;
}
 
.features-fragment30 {
  display: contents;
}
 
.features-text30 {
  display: inline-block;
}
 
.features-fragment31 {
  display: contents;
}
 
.features-text31 {
  display: inline-block;
}
 
.features-fragment32 {
  display: contents;
}
 
.features-text32 {
  display: inline-block;
}
 
.features-fragment33 {
  display: contents;
}
 
.features-text33 {
  display: inline-block;
}
 
.features-fragment34 {
  display: contents;
}
 
.features-text34 {
  display: inline-block;
}
 
.features-fragment35 {
  display: contents;
}
 
.features-text35 {
  display: inline-block;
}
 
.features-fragment36 {
  display: contents;
}
 
.features-text36 {
  display: inline-block;
}
 
.features-fragment37 {
  display: contents;
}
 
.features-text37 {
  display: inline-block;
}
 
.features-fragment38 {
  display: contents;
}
 
.features-text38 {
  display: inline-block;
}
 
.features-fragment39 {
  display: contents;
}
 
.features-text39 {
  display: inline-block;
}
 
.features-fragment40 {
  display: contents;
}
 
.features-text40 {
  display: inline-block;
}
 
.features-fragment41 {
  display: contents;
}
 
.features-text41 {
  display: inline-block;
}
 
.features-fragment42 {
  display: contents;
}
 
.features-text42 {
  display: inline-block;
}
 
.features-fragment43 {
  display: contents;
}
 
.features-text43 {
  display: inline-block;
}
 
.features-fragment44 {
  display: contents;
}
 
.features-text44 {
  display: inline-block;
}
 
.features-fragment45 {
  display: contents;
}
 
.features-text45 {
  display: inline-block;
}
 
.features-fragment46 {
  display: contents;
}
 
.features-text46 {
  display: inline-block;
}
 
.features-fragment47 {
  display: contents;
}
 
.features-text47 {
  display: inline-block;
}
 
.features-fragment48 {
  display: contents;
}
 
.features-text48 {
  display: inline-block;
}
 
.features-fragment49 {
  display: contents;
}
 
.features-text49 {
  display: inline-block;
}
 
.features-fragment50 {
  display: contents;
}
 
.features-text50 {
  display: inline-block;
}
 
.features-fragment51 {
  display: contents;
}
 
.features-text51 {
  display: inline-block;
}
 
.features-fragment52 {
  display: contents;
}
 
.features-text52 {
  display: inline-block;
}
 
.features-fragment53 {
  display: contents;
}
 
.features-text53 {
  display: inline-block;
}
 
.features-fragment54 {
  display: contents;
}
 
.features-text54 {
  display: inline-block;
}
 
.features-fragment55 {
  display: contents;
}
 
.features-text55 {
  display: inline-block;
}
 
.features-fragment56 {
  display: contents;
}
 
.features-text56 {
  display: inline-block;
}
 
.features-fragment57 {
  display: contents;
}
 
.features-text57 {
  display: inline-block;
}
 
.features-fragment58 {
  display: contents;
}
 
.features-text58 {
  display: inline-block;
}
 
.features-fragment59 {
  display: contents;
}
 
.features-text59 {
  display: inline-block;
}
 
.features-fragment60 {
  display: contents;
}
 
.features-text60 {
  display: inline-block;
}
 
.features-fragment61 {
  display: contents;
}
 
.features-text61 {
  display: inline-block;
}
 
.features-fragment62 {
  display: contents;
}
 
.features-text62 {
  display: inline-block;
}
 
.features-fragment63 {
  display: contents;
}
 
.features-text63 {
  display: inline-block;
}
 
.features-fragment64 {
  display: contents;
}
 
.features-text64 {
  display: inline-block;
}
 
.features-fragment65 {
  display: contents;
}
 
.features-text65 {
  display: inline-block;
}
 
.features-fragment66 {
  display: contents;
}
 
.features-text66 {
  display: inline-block;
}
 
.features-fragment67 {
  display: contents;
}
 
.features-text67 {
  display: inline-block;
}
 
.features-fragment68 {
  display: contents;
}
 
.features-text68 {
  display: inline-block;
}
 
.features-fragment69 {
  display: contents;
}
 
.features-text69 {
  display: inline-block;
}
 
.features-fragment70 {
  display: contents;
}
 
.features-text70 {
  display: inline-block;
}
 
.features-fragment71 {
  display: contents;
}
 
.features-text71 {
  display: inline-block;
}
 
.features-fragment72 {
  display: contents;
}
 
.features-text72 {
  display: inline-block;
}
 
.features-fragment73 {
  display: contents;
}
 
.features-text73 {
  display: inline-block;
}
 
.features-fragment74 {
  display: contents;
}
 
.features-text74 {
  display: inline-block;
}
 
.features-fragment75 {
  display: contents;
}
 
.features-text75 {
  display: inline-block;
}
 
.features-fragment76 {
  display: contents;
}
 
.features-text76 {
  display: inline-block;
}
 
.features-fragment77 {
  display: contents;
}
 
.features-text77 {
  display: inline-block;
}
 
.features-fragment78 {
  display: contents;
}
 
.features-text78 {
  display: inline-block;
}
 
.features-fragment79 {
  display: contents;
}
 
.features-text79 {
  display: inline-block;
}
 
.features-fragment80 {
  display: contents;
}
 
.features-text80 {
  display: inline-block;
}
 
.features-fragment81 {
  display: contents;
}
 
.features-text81 {
  display: inline-block;
}
 
.features-fragment82 {
  display: contents;
}
 
.features-text82 {
  display: inline-block;
}
 
.features-fragment83 {
  display: contents;
}
 
.features-text83 {
  display: inline-block;
}
 
.features-fragment84 {
  display: contents;
}
 
.features-text84 {
  display: inline-block;
}
 
.features-fragment85 {
  display: contents;
}
 
.features-text85 {
  display: inline-block;
}
 
.features-fragment86 {
  display: contents;
}
 
.features-text86 {
  display: inline-block;
}
