.parsa-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.parsa-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.parsa-navlink1 {
  display: contents;
}
 
.parsa-image11 {
  height: 3rem;
  text-decoration: none;
}
 
.parsa-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.parsa-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 351px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.parsa-link21 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.parsa-link31 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.parsa-link22 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.parsa-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.parsa-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.parsa-dropdown-arrow1 {
  transition: 0.3s;
}
 
.parsa-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.parsa-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.parsa-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle11 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.parsa-text14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.parsa-dropdown-arrow2 {
  transition: 0.3s;
}
 
.parsa-icon12 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.parsa-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.parsa-dropdown16 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-dropdown17 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-dropdown18 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown19 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle21 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle21:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-buttons1 {
  gap: var(--dl-layout-space-twounits);
  width: 413px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.parsa-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.parsa-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.parsa-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.parsa-text18 {
  color: #000000;
}
 
.parsa-action22 {
  display: flex;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.parsa-text19 {
  color: #000000;
}
 
.parsa-burger-menu {
  display: none;
}
 
.parsa-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.parsa-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.parsa-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.parsa-logo {
  height: 3rem;
}
 
.parsa-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.parsa-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.parsa-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.parsa-link14 {
  text-decoration: none;
}
 
.parsa-link32 {
  text-decoration: none;
}
 
.parsa-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.parsa-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.parsa-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle22 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.parsa-text20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.parsa-dropdown-arrow3 {
  transition: 0.3s;
}
 
.parsa-icon18 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.parsa-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.parsa-dropdown20 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle23 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle23:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text21 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown21 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle24 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle24:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown22 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle25 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle25:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text23 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown23 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle26 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle26:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink7 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-dropdown24 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle27 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle27:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text24 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle28 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.parsa-text25 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.parsa-dropdown-arrow4 {
  transition: 0.3s;
}
 
.parsa-icon20 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.parsa-dropdown-list4 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.parsa-dropdown25 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle29 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle29:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text26 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown26 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle30 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle30:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-navlink8 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.parsa-dropdown27 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle31 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle31:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-dropdown28 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.parsa-dropdown-toggle32 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.parsa-dropdown-toggle32:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.parsa-text28 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.parsa-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.parsa-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.parsa-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.parsa-max-width1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.parsa-thumbnail {
  width: 358px;
  height: 491px;
  max-width: 640px;
  border-radius: 62px;
}
 
.parsa-content4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  height: 571px;
  display: flex;
  overflow: hidden;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.parsa-text31 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.parsa-text34 {
  font-size: 18px;
}
 
.parsa-avatar {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.parsa-avatar-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.parsa-text37 {
  text-align: center;
}
 
.parsa-container4 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.parsa-max-width2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.parsa-content5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.parsa-image12 {
  height: 4rem;
  align-self: center;
}
 
.parsa-actions1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.parsa-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.parsa-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.parsa-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.parsa-container5 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.parsa-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  background-color: transparent;
}
 
.parsa-content2 {
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.parsa-links3 {
  flex: 1;
  display: flex;
}
 
.parsa-column1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.parsa-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.parsa-column2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.parsa-column2-title {
  align-self: center;
}
 
.parsa-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.parsa-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.parsa-link {
  display: contents;
}
 
.parsa-icon34 {
  text-decoration: none;
}
 
.parsa-credits1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.parsa-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.parsa-content3 {
  align-self: center;
}
 
@media(max-width: 991px) {
  .parsa-desktop-menu {
    display: none;
  }
  .parsa-burger-menu {
    display: flex;
  }
  .parsa-max-width1 {
    flex-direction: column;
  }
  .parsa-content4 {
    align-items: center;
    justify-content: center;
  }
  .parsa-avatar {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .parsa-newsletter {
    width: 50%;
  }
  .parsa-form {
    width: 100%;
    flex-direction: column;
  }
  .parsa-container5 {
    width: 100%;
  }
  .parsa-text-input {
    width: 100%;
    padding: var(--dl-layout-space-halfunit);
  }
  .parsa-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .parsa-column1 {
    max-width: 100%;
  }
  .parsa-column2 {
    max-width: 100%;
  }
  .parsa-social-links {
    align-self: center;
  }
  .parsa-credits1 {
    flex-direction: column;
  }
  .parsa-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .parsa-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .parsa-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .parsa-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .parsa-max-width1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .parsa-content5 {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .parsa-actions1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .parsa-newsletter {
    width: 100%;
  }
  .parsa-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .parsa-container5 {
    width: 100%;
  }
  .parsa-button {
    width: 208px;
  }
  .parsa-column1 {
    align-items: center;
  }
  .parsa-column1-title {
    text-align: center;
  }
  .parsa-footer-links1 {
    align-self: center;
  }
  .parsa-column2 {
    align-items: center;
  }
  .parsa-column2-title {
    text-align: center;
  }
  .parsa-footer-links2 {
    align-self: center;
  }
  .parsa-social-links {
    align-self: center;
  }
  .parsa-credits1 {
    flex-direction: column;
  }
  .parsa-credits2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .parsa-content3 {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .parsa-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .parsa-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
  .parsa-max-width1 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .parsa-content4 {
    align-self: center;
  }
  .parsa-text31 {
    align-self: center;
    text-align: center;
  }
  .parsa-text36 {
    text-align: center;
  }
  .parsa-avatar {
    flex-direction: column;
  }
  .parsa-avatar-content {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .parsa-content5 {
    gap: var(--dl-layout-space-unit);
  }
  .parsa-image12 {
    height: 3rem;
  }
  .parsa-actions2 {
    width: 100%;
  }
  .parsa-form {
    width: 100%;
    flex-direction: column;
  }
  .parsa-container5 {
    width: 100%;
  }
  .parsa-button {
    width: 100%;
  }
  .parsa-links3 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .parsa-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .parsa-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .parsa-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .parsa-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .parsa-social-links {
    align-items: center;
    justify-content: center;
  }
  .parsa-credits1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
