.navbar-interactive-wrapper {
  display: contents;
}
 
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.navbar-interactive-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar-interactive-navlink10 {
  display: contents;
}
 
.navbar-interactive-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.navbar-interactive-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar-interactive-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 351px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar-interactive-link21 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.navbar-interactive-link31 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.navbar-interactive-link22 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.navbar-interactive-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
 
.navbar-interactive-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  margin-top: 3px;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 0px;
  vertical-align: middle;
}
 
.navbar-interactive-dropdown-arrow1 {
  transition: 0.3s;
}
 
.navbar-interactive-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar-interactive-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.navbar-interactive-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle11 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
 
.navbar-interactive-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  margin-top: 3px;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar-interactive-dropdown-arrow2 {
  transition: 0.3s;
}
 
.navbar-interactive-icon12 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar-interactive-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.navbar-interactive-dropdown16 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown17 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown18 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown19 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle21 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle21:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink19 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown20 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle22 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle22:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-buttons1 {
  gap: var(--dl-layout-space-twounits);
  width: 413px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-interactive-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar-interactive-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-interactive-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar-interactive-text14 {
  color: #000000;
}
 
.navbar-interactive-action22 {
  display: flex;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.navbar-interactive-text15 {
  color: #000000;
}
 
.navbar-interactive-burger-menu {
  display: none;
}
 
.navbar-interactive-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-interactive-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-interactive-logo {
  height: 3rem;
}
 
.navbar-interactive-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-interactive-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-interactive-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar-interactive-link1 {
  text-decoration: none;
}
 
.navbar-interactive-link32 {
  text-decoration: none;
}
 
.navbar-interactive-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-interactive-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-interactive-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle23 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-interactive-text16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar-interactive-dropdown-arrow3 {
  transition: 0.3s;
}
 
.navbar-interactive-icon18 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar-interactive-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.navbar-interactive-dropdown21 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle24 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle24:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-dropdown22 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle25 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle25:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-dropdown23 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle26 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle26:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text19 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-dropdown24 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle27 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle27:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink21 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown25 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle28 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle28:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle29 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.navbar-interactive-text21 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.navbar-interactive-dropdown-arrow4 {
  transition: 0.3s;
}
 
.navbar-interactive-icon20 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.navbar-interactive-dropdown-list4 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.navbar-interactive-dropdown26 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle30 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle30:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-dropdown27 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle31 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle31:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-navlink22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.navbar-interactive-dropdown28 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle32 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle32:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text23 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-dropdown29 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.navbar-interactive-dropdown-toggle33 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar-interactive-dropdown-toggle33:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.navbar-interactive-text24 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.navbar-interactive-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar-interactive-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.products-fragment35 {
  display: contents;
}
 
.products-text35 {
  display: inline-block;
}
 
.products-fragment24 {
  display: contents;
}
 
.products-text24 {
  display: inline-block;
}
 
.products-fragment30 {
  display: contents;
}
 
.products-text30 {
  display: inline-block;
}
 
.products-fragment13 {
  display: contents;
}
 
.products-text13 {
  display: inline-block;
}
 
.products-fragment20 {
  display: contents;
}
 
.products-text20 {
  display: inline-block;
}
 
.products-fragment43 {
  display: contents;
}
 
.products-text43 {
  display: inline-block;
}
 
.products-fragment37 {
  display: contents;
}
 
.products-text37 {
  display: inline-block;
}
 
.products-fragment12 {
  display: contents;
}
 
.products-text12 {
  display: inline-block;
}
 
.products-fragment28 {
  display: contents;
}
 
.products-text28 {
  display: inline-block;
}
 
.products-fragment16 {
  display: contents;
}
 
.products-text16 {
  display: inline-block;
}
 
.products-fragment31 {
  display: contents;
}
 
.products-text31 {
  display: inline-block;
}
 
.products-fragment17 {
  display: contents;
}
 
.products-text17 {
  display: inline-block;
}
 
.products-fragment44 {
  display: contents;
}
 
.products-text44 {
  display: inline-block;
}
 
.products-fragment11 {
  display: contents;
}
 
.products-text11 {
  display: inline-block;
}
 
.products-fragment21 {
  display: contents;
}
 
.products-text21 {
  display: inline-block;
}
 
.products-fragment25 {
  display: contents;
}
 
.products-text25 {
  display: inline-block;
}
 
.products-fragment18 {
  display: contents;
}
 
.products-text18 {
  display: inline-block;
}
 
.products-fragment22 {
  display: contents;
}
 
.products-text22 {
  display: inline-block;
}
 
.products-fragment10 {
  display: contents;
}
 
.products-text10 {
  display: inline-block;
}
 
.products-fragment15 {
  display: contents;
}
 
.products-text15 {
  display: inline-block;
}
 
.products-fragment33 {
  display: contents;
}
 
.products-text33 {
  display: inline-block;
}
 
.products-fragment26 {
  display: contents;
}
 
.products-text26 {
  display: inline-block;
}
 
.products-fragment29 {
  display: contents;
}
 
.products-text29 {
  display: inline-block;
}
 
.products-fragment32 {
  display: contents;
}
 
.products-text32 {
  display: inline-block;
}
 
.products-fragment39 {
  display: contents;
}
 
.products-text39 {
  display: inline-block;
}
 
.products-fragment41 {
  display: contents;
}
 
.products-text41 {
  display: inline-block;
}
 
.products-fragment36 {
  display: contents;
}
 
.products-text36 {
  display: inline-block;
}
 
.products-fragment38 {
  display: contents;
}
 
.products-text38 {
  display: inline-block;
}
 
.products-fragment19 {
  display: contents;
}
 
.products-text19 {
  display: inline-block;
}
 
.products-fragment45 {
  display: contents;
}
 
.products-text45 {
  display: inline-block;
}
 
.products-fragment14 {
  display: contents;
}
 
.products-text14 {
  display: inline-block;
}
 
.products-fragment42 {
  display: contents;
}
 
.products-text42 {
  display: inline-block;
}
 
.products-fragment34 {
  display: contents;
}
 
.products-text34 {
  display: inline-block;
}
 
.products-fragment40 {
  display: contents;
}
 
.products-text40 {
  display: inline-block;
}
 
.products-fragment23 {
  display: contents;
}
 
.products-text23 {
  display: inline-block;
}
 
.products-fragment27 {
  display: contents;
}
 
.products-text27 {
  display: inline-block;
}
 
.navbar-interactiveroot-class-name {
  width: 100%;
}
 
.navbar-interactiveroot-class-name1 {
  width: 100%;
}
 
.navbar-interactiveroot-class-name2 {
  width: 100%;
}
 
.navbar-interactiveroot-class-name3 {
  width: 100%;
}
 
.navbar-interactiveroot-class-name4 {
  width: 100%;
}
 
.navbar-interactiveroot-class-name5 {
  top: 0;
  width: 100%;
  z-index: 10000;
  position: sticky;
  background-color: white;
}
 
@media(max-width: 991px) {
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar-interactive-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .navbar-interactive-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}

.footer14-wrapper {
  display: contents;
}
 
.footer14-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer14-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer14-content {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer14-image1 {
  height: 4rem;
  align-self: center;
}
 
.footer14-actions1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.footer14-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer14-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer14-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer14-container2 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer14-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  background-color: transparent;
}
 
.footer14-content2 {
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer14-links {
  flex: 1;
  display: flex;
}
 
.footer14-column1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer14-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer14-link1 {
  text-decoration: none;
}
 
.footer14-link2 {
  text-decoration: none;
}
 
.footer14-link3 {
  text-decoration: none;
}
 
.footer14-link4 {
  text-decoration: none;
}
 
.footer14-link5 {
  text-decoration: none;
}
 
.footer14-column2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer14-column2-title {
  align-self: center;
}
 
.footer14-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer14-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer14-link {
  display: contents;
}
 
.footer14-icon16 {
  text-decoration: none;
}
 
.footer14-credits1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer14-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.footer14-content3 {
  align-self: center;
}
 
.products-fragment56 {
  display: contents;
}
 
.products-text58 {
  display: inline-block;
}
 
.products-fragment49 {
  display: contents;
}
 
.products-text51 {
  display: inline-block;
}
 
.products-fragment59 {
  display: contents;
}
 
.products-text61 {
  display: inline-block;
}
 
.products-fragment52 {
  display: contents;
}
 
.products-text54 {
  display: inline-block;
}
 
.products-fragment48 {
  display: contents;
}
 
.products-text50 {
  display: inline-block;
}
 
.products-fragment46 {
  display: contents;
}
 
.products-text48 {
  display: inline-block;
}
 
.products-fragment47 {
  display: contents;
}
 
.products-text49 {
  display: inline-block;
}
 
.products-fragment60 {
  display: contents;
}
 
.products-text62 {
  display: inline-block;
}
 
.products-fragment62 {
  display: contents;
}
 
.products-text64 {
  display: inline-block;
}
 
.products-fragment64 {
  display: contents;
}
 
.products-text66 {
  display: inline-block;
}
 
.products-fragment55 {
  display: contents;
}
 
.products-text57 {
  display: inline-block;
}
 
.products-fragment63 {
  display: contents;
}
 
.products-text65 {
  display: inline-block;
}
 
.products-fragment57 {
  display: contents;
}
 
.products-text59 {
  display: inline-block;
}
 
.products-fragment54 {
  display: contents;
}
 
.products-text56 {
  display: inline-block;
}
 
.products-fragment58 {
  display: contents;
}
 
.products-text60 {
  display: inline-block;
}
 
.products-fragment61 {
  display: contents;
}
 
.products-text63 {
  display: inline-block;
}
 
.products-fragment51 {
  display: contents;
}
 
.products-text53 {
  display: inline-block;
}
 
.products-fragment50 {
  display: contents;
}
 
.products-text52 {
  display: inline-block;
}
 
.products-fragment53 {
  display: contents;
}
 
.products-text55 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer14-newsletter {
    width: 50%;
  }
  .footer14-form {
    width: 100%;
    flex-direction: column;
  }
  .footer14-container2 {
    width: 100%;
  }
  .footer14-text-input {
    width: 100%;
    padding: var(--dl-layout-space-halfunit);
  }
  .footer14-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .footer14-column1 {
    max-width: 100%;
  }
  .footer14-column2 {
    max-width: 100%;
  }
  .footer14-social-links {
    align-self: center;
  }
  .footer14-credits1 {
    flex-direction: column;
  }
  .footer14-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .footer14-content {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer14-actions1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer14-newsletter {
    width: 100%;
  }
  .footer14-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer14-container2 {
    width: 100%;
  }
  .footer14-button {
    width: 208px;
  }
  .footer14-column1 {
    align-items: center;
  }
  .footer14-column1-title {
    text-align: center;
  }
  .footer14-footer-links1 {
    align-self: center;
  }
  .footer14-column2 {
    align-items: center;
  }
  .footer14-column2-title {
    text-align: center;
  }
  .footer14-footer-links2 {
    align-self: center;
  }
  .footer14-social-links {
    align-self: center;
  }
  .footer14-credits1 {
    flex-direction: column;
  }
  .footer14-credits2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer14-content3 {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer14-content {
    gap: var(--dl-layout-space-unit);
  }
  .footer14-image1 {
    height: 3rem;
  }
  .footer14-actions2 {
    width: 100%;
  }
  .footer14-form {
    width: 100%;
    flex-direction: column;
  }
  .footer14-container2 {
    width: 100%;
  }
  .footer14-button {
    width: 100%;
  }
  .footer14-links {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer14-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer14-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer14-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer14-credits1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}

.products-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.products-fragment10 {
  display: contents;
}
 
.products-text10 {
  display: inline-block;
}
 
.products-fragment11 {
  display: contents;
}
 
.products-text11 {
  display: inline-block;
}
 
.products-fragment12 {
  display: contents;
}
 
.products-text12 {
  display: inline-block;
}
 
.products-fragment13 {
  display: contents;
}
 
.products-text13 {
  display: inline-block;
}
 
.products-fragment14 {
  display: contents;
}
 
.products-text14 {
  display: inline-block;
}
 
.products-fragment15 {
  display: contents;
}
 
.products-text15 {
  display: inline-block;
}
 
.products-fragment16 {
  display: contents;
}
 
.products-text16 {
  display: inline-block;
}
 
.products-fragment17 {
  display: contents;
}
 
.products-text17 {
  display: inline-block;
}
 
.products-fragment18 {
  display: contents;
}
 
.products-text18 {
  display: inline-block;
}
 
.products-fragment19 {
  display: contents;
}
 
.products-text19 {
  display: inline-block;
}
 
.products-fragment20 {
  display: contents;
}
 
.products-text20 {
  display: inline-block;
}
 
.products-fragment21 {
  display: contents;
}
 
.products-text21 {
  display: inline-block;
}
 
.products-fragment22 {
  display: contents;
}
 
.products-text22 {
  display: inline-block;
}
 
.products-fragment23 {
  display: contents;
}
 
.products-text23 {
  display: inline-block;
}
 
.products-fragment24 {
  display: contents;
}
 
.products-text24 {
  display: inline-block;
}
 
.products-fragment25 {
  display: contents;
}
 
.products-text25 {
  display: inline-block;
}
 
.products-fragment26 {
  display: contents;
}
 
.products-text26 {
  display: inline-block;
}
 
.products-fragment27 {
  display: contents;
}
 
.products-text27 {
  display: inline-block;
}
 
.products-fragment28 {
  display: contents;
}
 
.products-text28 {
  display: inline-block;
}
 
.products-fragment29 {
  display: contents;
}
 
.products-text29 {
  display: inline-block;
}
 
.products-fragment30 {
  display: contents;
}
 
.products-text30 {
  display: inline-block;
}
 
.products-fragment31 {
  display: contents;
}
 
.products-text31 {
  display: inline-block;
}
 
.products-fragment32 {
  display: contents;
}
 
.products-text32 {
  display: inline-block;
}
 
.products-fragment33 {
  display: contents;
}
 
.products-text33 {
  display: inline-block;
}
 
.products-fragment34 {
  display: contents;
}
 
.products-text34 {
  display: inline-block;
}
 
.products-fragment35 {
  display: contents;
}
 
.products-text35 {
  display: inline-block;
}
 
.products-fragment36 {
  display: contents;
}
 
.products-text36 {
  display: inline-block;
}
 
.products-fragment37 {
  display: contents;
}
 
.products-text37 {
  display: inline-block;
}
 
.products-fragment38 {
  display: contents;
}
 
.products-text38 {
  display: inline-block;
}
 
.products-fragment39 {
  display: contents;
}
 
.products-text39 {
  display: inline-block;
}
 
.products-fragment40 {
  display: contents;
}
 
.products-text40 {
  display: inline-block;
}
 
.products-fragment41 {
  display: contents;
}
 
.products-text41 {
  display: inline-block;
}
 
.products-fragment42 {
  display: contents;
}
 
.products-text42 {
  display: inline-block;
}
 
.products-fragment43 {
  display: contents;
}
 
.products-text43 {
  display: inline-block;
}
 
.products-fragment44 {
  display: contents;
}
 
.products-text44 {
  display: inline-block;
}
 
.products-fragment45 {
  display: contents;
}
 
.products-text45 {
  display: inline-block;
}
 
.products-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
}
 
.products-max-width {
  gap: var(--dl-layout-space-threeunits);
  align-items: center;
}
 
.products-section-title {
  align-items: center;
}
 
.products-text46 {
  font-size: 70px;
}
 
.products-text47 {
  text-align: center;
}
 
.products-content {
  align-self: stretch;
  align-items: center;
}
 
.products-feature1 {
  height: 525px;
  align-items: flex-start;
}
 
.products-feature1-image {
  height: 266px;
}
 
.products-feature1-title {
  align-self: center;
  text-align: center;
}
 
.products-feature1-description {
  align-self: center;
  text-align: center;
}
 
.products-feature2 {
  height: 525px;
  align-items: flex-start;
}
 
.products-feature2-image {
  height: 266px;
}
 
.products-feature2-title {
  align-self: center;
}
 
.products-feature2-description {
  text-align: center;
}
 
.products-feature3 {
  height: 525px;
  align-items: flex-start;
}
 
.products-feature3-image {
  height: 266px;
}
 
.products-feature3-title {
  align-self: center;
  text-align: center;
}
 
.products-feature3-description {
  text-align: center;
}
 
.products-actions {
  align-items: flex-start;
}
 
.products-button {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.products-fragment46 {
  display: contents;
}
 
.products-text48 {
  display: inline-block;
}
 
.products-fragment47 {
  display: contents;
}
 
.products-text49 {
  display: inline-block;
}
 
.products-fragment48 {
  display: contents;
}
 
.products-text50 {
  display: inline-block;
}
 
.products-fragment49 {
  display: contents;
}
 
.products-text51 {
  display: inline-block;
}
 
.products-fragment50 {
  display: contents;
}
 
.products-text52 {
  display: inline-block;
}
 
.products-fragment51 {
  display: contents;
}
 
.products-text53 {
  display: inline-block;
}
 
.products-fragment52 {
  display: contents;
}
 
.products-text54 {
  display: inline-block;
}
 
.products-fragment53 {
  display: contents;
}
 
.products-text55 {
  display: inline-block;
}
 
.products-fragment54 {
  display: contents;
}
 
.products-text56 {
  display: inline-block;
}
 
.products-fragment55 {
  display: contents;
}
 
.products-text57 {
  display: inline-block;
}
 
.products-fragment56 {
  display: contents;
}
 
.products-text58 {
  display: inline-block;
}
 
.products-fragment57 {
  display: contents;
}
 
.products-text59 {
  display: inline-block;
}
 
.products-fragment58 {
  display: contents;
}
 
.products-text60 {
  display: inline-block;
}
 
.products-fragment59 {
  display: contents;
}
 
.products-text61 {
  display: inline-block;
}
 
.products-fragment60 {
  display: contents;
}
 
.products-text62 {
  display: inline-block;
}
 
.products-fragment61 {
  display: contents;
}
 
.products-text63 {
  display: inline-block;
}
 
.products-fragment62 {
  display: contents;
}
 
.products-text64 {
  display: inline-block;
}
 
.products-fragment63 {
  display: contents;
}
 
.products-text65 {
  display: inline-block;
}
 
.products-fragment64 {
  display: contents;
}
 
.products-text66 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .products-section-title {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .products-section-title {
    width: auto;
  }
  .products-text46 {
    text-align: center;
  }
  .products-feature2 {
    width: auto;
  }
  .products-feature3 {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .products-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .products-actions {
    width: 100%;
    flex-direction: column;
  }
  .products-button {
    width: 100%;
  }
}
