.footer14-wrapper {
  display: contents;
}
 
.footer14-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer14-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer14-content {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer14-image1 {
  height: 4rem;
  align-self: center;
}
 
.footer14-actions1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.footer14-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer14-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer14-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer14-container2 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer14-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  background-color: transparent;
}
 
.footer14-content2 {
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer14-links {
  flex: 1;
  display: flex;
}
 
.footer14-column1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer14-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer14-link1 {
  text-decoration: none;
}
 
.footer14-link2 {
  text-decoration: none;
}
 
.footer14-link3 {
  text-decoration: none;
}
 
.footer14-link4 {
  text-decoration: none;
}
 
.footer14-link5 {
  text-decoration: none;
}
 
.footer14-column2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer14-column2-title {
  align-self: center;
}
 
.footer14-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer14-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer14-link {
  display: contents;
}
 
.footer14-icon16 {
  text-decoration: none;
}
 
.footer14-credits1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer14-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.footer14-content3 {
  align-self: center;
}
 
.resource-fragment20 {
  display: contents;
}
 
.resource-text36 {
  display: inline-block;
}
 
.resource-fragment13 {
  display: contents;
}
 
.resource-text29 {
  display: inline-block;
}
 
.resource-fragment23 {
  display: contents;
}
 
.resource-text39 {
  display: inline-block;
}
 
.resource-fragment16 {
  display: contents;
}
 
.resource-text32 {
  display: inline-block;
}
 
.resource-fragment12 {
  display: contents;
}
 
.resource-text28 {
  display: inline-block;
}
 
.resource-fragment10 {
  display: contents;
}
 
.resource-text26 {
  display: inline-block;
}
 
.resource-fragment11 {
  display: contents;
}
 
.resource-text27 {
  display: inline-block;
}
 
.resource-fragment24 {
  display: contents;
}
 
.resource-text40 {
  display: inline-block;
}
 
.resource-fragment26 {
  display: contents;
}
 
.resource-text42 {
  display: inline-block;
}
 
.resource-fragment28 {
  display: contents;
}
 
.resource-text44 {
  display: inline-block;
}
 
.resource-fragment19 {
  display: contents;
}
 
.resource-text35 {
  display: inline-block;
}
 
.resource-fragment27 {
  display: contents;
}
 
.resource-text43 {
  display: inline-block;
}
 
.resource-fragment21 {
  display: contents;
}
 
.resource-text37 {
  display: inline-block;
}
 
.resource-fragment18 {
  display: contents;
}
 
.resource-text34 {
  display: inline-block;
}
 
.resource-fragment22 {
  display: contents;
}
 
.resource-text38 {
  display: inline-block;
}
 
.resource-fragment25 {
  display: contents;
}
 
.resource-text41 {
  display: inline-block;
}
 
.resource-fragment15 {
  display: contents;
}
 
.resource-text31 {
  display: inline-block;
}
 
.resource-fragment14 {
  display: contents;
}
 
.resource-text30 {
  display: inline-block;
}
 
.resource-fragment17 {
  display: contents;
}
 
.resource-text33 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer14-newsletter {
    width: 50%;
  }
  .footer14-form {
    width: 100%;
    flex-direction: column;
  }
  .footer14-container2 {
    width: 100%;
  }
  .footer14-text-input {
    width: 100%;
    padding: var(--dl-layout-space-halfunit);
  }
  .footer14-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .footer14-column1 {
    max-width: 100%;
  }
  .footer14-column2 {
    max-width: 100%;
  }
  .footer14-social-links {
    align-self: center;
  }
  .footer14-credits1 {
    flex-direction: column;
  }
  .footer14-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .footer14-content {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .footer14-actions1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer14-newsletter {
    width: 100%;
  }
  .footer14-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer14-container2 {
    width: 100%;
  }
  .footer14-button {
    width: 208px;
  }
  .footer14-column1 {
    align-items: center;
  }
  .footer14-column1-title {
    text-align: center;
  }
  .footer14-footer-links1 {
    align-self: center;
  }
  .footer14-column2 {
    align-items: center;
  }
  .footer14-column2-title {
    text-align: center;
  }
  .footer14-footer-links2 {
    align-self: center;
  }
  .footer14-social-links {
    align-self: center;
  }
  .footer14-credits1 {
    flex-direction: column;
  }
  .footer14-credits2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer14-content3 {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .footer14-content {
    gap: var(--dl-layout-space-unit);
  }
  .footer14-image1 {
    height: 3rem;
  }
  .footer14-actions2 {
    width: 100%;
  }
  .footer14-form {
    width: 100%;
    flex-direction: column;
  }
  .footer14-container2 {
    width: 100%;
  }
  .footer14-button {
    width: 100%;
  }
  .footer14-links {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer14-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer14-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer14-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer14-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer14-credits1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}

.resource-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.resource-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.resource-navlink1 {
  display: contents;
}
 
.resource-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.resource-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.resource-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 351px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.resource-link21 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.resource-link31 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.resource-link22 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
}
 
.resource-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.resource-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.resource-dropdown-arrow1 {
  transition: 0.3s;
}
 
.resource-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.resource-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.resource-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle11 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.resource-dropdown5 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.resource-text15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.resource-dropdown-arrow2 {
  transition: 0.3s;
}
 
.resource-icon12 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.resource-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.resource-dropdown6 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle17:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-dropdown7 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-navlink3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.resource-dropdown8 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text17 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-dropdown9 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.resource-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.resource-text18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.resource-buttons1 {
  gap: var(--dl-layout-space-twounits);
  width: 413px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.resource-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.resource-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.resource-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.resource-text20 {
  color: #000000;
}
 
.resource-action22 {
  display: flex;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.resource-text21 {
  color: #000000;
}
 
.resource-burger-menu {
  display: none;
}
 
.resource-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.resource-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.resource-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.resource-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.resource-logo {
  height: 3rem;
}
 
.resource-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.resource-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.resource-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.resource-link1 {
  text-decoration: none;
}
 
.resource-link32 {
  text-decoration: none;
}
 
.resource-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.resource-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.resource-icon-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.resource-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.resource-icon18 {
  width: 24px;
  height: 24px;
}
 
.resource-container4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.resource-icon20 {
  width: 24px;
  height: 24px;
}
 
.resource-container5 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-layout-space-halfunit);
  grid-template-columns: 1fr;
}
 
.resource-menu-item1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.resource-page1-image {
  width: 50px;
  height: 50px;
}
 
.resource-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.resource-page1 {
  font-style: normal;
  font-weight: 600;
}
 
.resource-menu-item2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.resource-page2-image {
  width: 50px;
  height: 50px;
}
 
.resource-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.resource-page2 {
  font-style: normal;
  font-weight: 600;
}
 
.resource-menu-item3 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.resource-page3-image {
  width: 50px;
  height: 50px;
}
 
.resource-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.resource-page3 {
  font-style: normal;
  font-weight: 600;
}
 
.resource-menu-item4 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.resource-page4-image {
  width: 50px;
  height: 50px;
}
 
.resource-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.resource-page4 {
  font-style: normal;
  font-weight: 600;
}
 
.resource-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.resource-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.resource-layout300 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
}
 
.resource-max-width {
  gap: var(--dl-layout-space-threeunits);
  align-items: center;
}
 
.resource-section-title {
  align-items: center;
}
 
.resource-text24 {
  font-size: 70px;
}
 
.resource-text25 {
  text-align: center;
}
 
.resource-content5 {
  align-self: stretch;
  align-items: center;
}
 
.resource-feature1 {
  align-items: flex-start;
}
 
.resource-feature1-image {
  height: 248px;
}
 
.resource-feature1-title {
  text-align: center;
}
 
.resource-button1 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.resource-feature2 {
  align-items: flex-start;
}
 
.resource-feature2-image {
  height: 266px;
}
 
.resource-feature3 {
  align-items: flex-start;
}
 
.resource-actions {
  align-items: flex-start;
}
 
.resource-button2 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.resource-fragment10 {
  display: contents;
}
 
.resource-text26 {
  display: inline-block;
}
 
.resource-fragment11 {
  display: contents;
}
 
.resource-text27 {
  display: inline-block;
}
 
.resource-fragment12 {
  display: contents;
}
 
.resource-text28 {
  display: inline-block;
}
 
.resource-fragment13 {
  display: contents;
}
 
.resource-text29 {
  display: inline-block;
}
 
.resource-fragment14 {
  display: contents;
}
 
.resource-text30 {
  display: inline-block;
}
 
.resource-fragment15 {
  display: contents;
}
 
.resource-text31 {
  display: inline-block;
}
 
.resource-fragment16 {
  display: contents;
}
 
.resource-text32 {
  display: inline-block;
}
 
.resource-fragment17 {
  display: contents;
}
 
.resource-text33 {
  display: inline-block;
}
 
.resource-fragment18 {
  display: contents;
}
 
.resource-text34 {
  display: inline-block;
}
 
.resource-fragment19 {
  display: contents;
}
 
.resource-text35 {
  display: inline-block;
}
 
.resource-fragment20 {
  display: contents;
}
 
.resource-text36 {
  display: inline-block;
}
 
.resource-fragment21 {
  display: contents;
}
 
.resource-text37 {
  display: inline-block;
}
 
.resource-fragment22 {
  display: contents;
}
 
.resource-text38 {
  display: inline-block;
}
 
.resource-fragment23 {
  display: contents;
}
 
.resource-text39 {
  display: inline-block;
}
 
.resource-fragment24 {
  display: contents;
}
 
.resource-text40 {
  display: inline-block;
}
 
.resource-fragment25 {
  display: contents;
}
 
.resource-text41 {
  display: inline-block;
}
 
.resource-fragment26 {
  display: contents;
}
 
.resource-text42 {
  display: inline-block;
}
 
.resource-fragment27 {
  display: contents;
}
 
.resource-text43 {
  display: inline-block;
}
 
.resource-fragment28 {
  display: contents;
}
 
.resource-text44 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .resource-desktop-menu {
    display: none;
  }
  .resource-burger-menu {
    display: flex;
  }
  .resource-section-title {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .resource-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .resource-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .resource-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .resource-container5 {
    grid-gap: 0;
  }
  .resource-section-title {
    width: auto;
  }
  .resource-text24 {
    text-align: center;
  }
  .resource-feature2 {
    width: auto;
  }
  .resource-feature3 {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .resource-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .resource-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
  .resource-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .resource-button1 {
    width: 100%;
  }
  .resource-actions {
    width: 100%;
    flex-direction: column;
  }
  .resource-button2 {
    width: 100%;
  }
}
