.contact14-wrapper {
  display: contents;
}
 
.contact14-contact20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.contact14-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact14-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 253px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image1 {
  width: 200px;
  height: 156px;
  object-fit: cover;
}
 
.contact14-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text10 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image2 {
  width: 100%;
  height: 154px;
  min-width: auto;
  object-fit: contain;
}
 
.contact14-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text11 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-content5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image3 {
  width: 200px;
  height: 155px;
  object-fit: cover;
}
 
.contact14-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text12 {
  align-self: stretch;
  text-align: center;
}
 
.satisfaction-fragment1 {
  display: contents;
}
 
.satisfaction-text10 {
  display: inline-block;
}
 
.satisfaction-text11 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text13 {
  font-size: 18px;
}
 
.satisfaction-fragment2 {
  display: contents;
}
 
.satisfaction-text14 {
  display: inline-block;
}
 
.satisfaction-text15 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text17 {
  font-size: 18px;
}
 
.satisfaction-fragment3 {
  display: contents;
}
 
.satisfaction-text19 {
  display: inline-block;
}
 
.satisfaction-text20 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text22 {
  font-size: 18px;
}
 
@media(max-width: 767px) {
  .contact14-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact14-max-width {
    align-items: center;
  }
}

.contact14-wrapper-4f6d {
  display: contents;
}
 
.contact14-contact201 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.contact14-max-width1 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact14-content7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 253px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image4 {
  width: 200px;
  height: 156px;
  object-fit: cover;
}
 
.contact14-contact-info4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content8 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text13 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-content9 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image5 {
  width: 100%;
  height: 154px;
  min-width: auto;
  object-fit: contain;
}
 
.contact14-contact-info5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content10 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text14 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-content11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image6 {
  width: 200px;
  height: 155px;
  object-fit: cover;
}
 
.contact14-contact-info6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content12 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text15 {
  align-self: stretch;
  text-align: center;
}
 
.satisfaction-fragment4 {
  display: contents;
}
 
.satisfaction-text23 {
  display: inline-block;
}
 
.satisfaction-text24 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text26 {
  font-size: 18px;
}
 
.satisfaction-fragment5 {
  display: contents;
}
 
.satisfaction-text27 {
  display: inline-block;
}
 
.satisfaction-text28 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text30 {
  font-size: 18px;
}
 
.satisfaction-fragment6 {
  display: contents;
}
 
.satisfaction-text32 {
  display: inline-block;
}
 
.satisfaction-text33 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text35 {
  font-size: 18px;
}
 
@media(max-width: 767px) {
  .contact14-max-width1 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact14-max-width1 {
    align-items: center;
  }
}

.contact14-wrapper-7uv3 {
  display: contents;
}
 
.contact14-contact202 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  padding-top: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.contact14-max-width2 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact14-content13 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 253px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image7 {
  width: 200px;
  height: 156px;
  object-fit: cover;
}
 
.contact14-contact-info7 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content14 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text16 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-content15 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image8 {
  width: 100%;
  height: 154px;
  min-width: auto;
  object-fit: contain;
}
 
.contact14-contact-info8 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content16 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text17 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-content17 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-image9 {
  width: 200px;
  height: 155px;
  object-fit: cover;
}
 
.contact14-contact-info9 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content18 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text18 {
  align-self: stretch;
  text-align: center;
}
 
.satisfaction-fragment7 {
  display: contents;
}
 
.satisfaction-text36 {
  display: inline-block;
}
 
.satisfaction-text37 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text39 {
  font-size: 18px;
}
 
.satisfaction-fragment8 {
  display: contents;
}
 
.satisfaction-text40 {
  display: inline-block;
}
 
.satisfaction-text41 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text43 {
  font-size: 18px;
}
 
.satisfaction-fragment9 {
  display: contents;
}
 
.satisfaction-text45 {
  display: inline-block;
}
 
.satisfaction-text46 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text48 {
  font-size: 18px;
}
 
@media(max-width: 767px) {
  .contact14-max-width2 {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact14-max-width2 {
    align-items: center;
  }
}

.satisfaction-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.satisfaction-fragment1 {
  display: contents;
}
 
.satisfaction-text10 {
  display: inline-block;
}
 
.satisfaction-text11 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text13 {
  font-size: 18px;
}
 
.satisfaction-fragment2 {
  display: contents;
}
 
.satisfaction-text14 {
  display: inline-block;
}
 
.satisfaction-text15 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text17 {
  font-size: 18px;
}
 
.satisfaction-fragment3 {
  display: contents;
}
 
.satisfaction-text19 {
  display: inline-block;
}
 
.satisfaction-text20 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text22 {
  font-size: 18px;
}
 
.satisfaction-fragment4 {
  display: contents;
}
 
.satisfaction-text23 {
  display: inline-block;
}
 
.satisfaction-text24 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text26 {
  font-size: 18px;
}
 
.satisfaction-fragment5 {
  display: contents;
}
 
.satisfaction-text27 {
  display: inline-block;
}
 
.satisfaction-text28 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text30 {
  font-size: 18px;
}
 
.satisfaction-fragment6 {
  display: contents;
}
 
.satisfaction-text32 {
  display: inline-block;
}
 
.satisfaction-text33 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text35 {
  font-size: 18px;
}
 
.satisfaction-fragment7 {
  display: contents;
}
 
.satisfaction-text36 {
  display: inline-block;
}
 
.satisfaction-text37 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text39 {
  font-size: 18px;
}
 
.satisfaction-fragment8 {
  display: contents;
}
 
.satisfaction-text40 {
  display: inline-block;
}
 
.satisfaction-text41 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text43 {
  font-size: 18px;
}
 
.satisfaction-fragment9 {
  display: contents;
}
 
.satisfaction-text45 {
  display: inline-block;
}
 
.satisfaction-text46 {
  font-size: 36px;
  font-weight: 700;
}
 
.satisfaction-text48 {
  font-size: 18px;
}
