.testimonial3-wrapper {
  display: contents;
}
 
.testimonial3-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial3-max-width1 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.testimonial3-thumbnail {
  width: 358px;
  height: 491px;
  max-width: 640px;
}
 
.testimonial3-content4 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  height: 485px;
  display: flex;
  overflow: hidden;
  max-width: 800px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial3-text10 {
  align-self: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.testimonial3-avatar {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
}
 
.testimonial3-avatar-content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial3-text12 {
  text-align: center;
}
 
.testimonial3-container2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.testimonial3-max-width2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial3-content5 {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.testimonial3-image1 {
  height: 4rem;
  align-self: center;
}
 
.testimonial3-actions1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.testimonial3-newsletter {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial3-actions2 {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonial3-form {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.testimonial3-container3 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.testimonial3-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  background-color: transparent;
}
 
.testimonial3-content2 {
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: italic;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.testimonial3-links {
  flex: 1;
  display: flex;
}
 
.testimonial3-column1 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial3-footer-links1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial3-column2 {
  gap: var(--dl-layout-space-unit);
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonial3-column2-title {
  align-self: center;
}
 
.testimonial3-footer-links2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.testimonial3-social-links {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
}
 
.testimonial3-link {
  display: contents;
}
 
.testimonial3-icon16 {
  text-decoration: none;
}
 
.testimonial3-credits1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.testimonial3-credits2 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.testimonial3-content3 {
  align-self: center;
}
 
.team2-fragment11 {
  display: contents;
}
 
.team2-text32 {
  display: inline-block;
}
 
.team2-fragment10 {
  display: contents;
}
 
.team2-text31 {
  display: inline-block;
}
 
.team2-fragment12 {
  display: contents;
}
 
.team2-text33 {
  display: inline-block;
}
 
.team2-fragment13 {
  display: contents;
}
 
.team2-text34 {
  display: inline-block;
}
 
.team2-fragment14 {
  display: contents;
}
 
.team2-text35 {
  display: inline-block;
}
 
.team2-fragment15 {
  display: contents;
}
 
.team2-text36 {
  display: inline-block;
}
 
.team2-fragment16 {
  display: contents;
}
 
.team2-text37 {
  display: inline-block;
}
 
.team2-fragment17 {
  display: contents;
}
 
.team2-text38 {
  display: inline-block;
}
 
.team2-fragment18 {
  display: contents;
}
 
.team2-text39 {
  display: inline-block;
}
 
.team2-fragment19 {
  display: contents;
}
 
.team2-text40 {
  display: inline-block;
}
 
.team2-fragment20 {
  display: contents;
}
 
.team2-text41 {
  display: inline-block;
}
 
.team2-fragment21 {
  display: contents;
}
 
.team2-text42 {
  display: inline-block;
}
 
.team2-fragment22 {
  display: contents;
}
 
.team2-text43 {
  display: inline-block;
}
 
.team2-fragment23 {
  display: contents;
}
 
.team2-text44 {
  display: inline-block;
}
 
.team2-fragment24 {
  display: contents;
}
 
.team2-text45 {
  display: inline-block;
}
 
.team2-fragment25 {
  display: contents;
}
 
.team2-text46 {
  display: inline-block;
}
 
.team2-fragment26 {
  display: contents;
}
 
.team2-text47 {
  display: inline-block;
}
 
.team2-fragment27 {
  display: contents;
}
 
.team2-text48 {
  display: inline-block;
}
 
.team2-fragment28 {
  display: contents;
}
 
.team2-text49 {
  display: inline-block;
}
 
.team2-fragment29 {
  display: contents;
}
 
.team2-text50 {
  display: inline-block;
}
 
.team2-fragment30 {
  display: contents;
}
 
.team2-text51 {
  display: inline-block;
}
 
.team2-fragment31 {
  display: contents;
}
 
.team2-text52 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .testimonial3-max-width1 {
    flex-direction: column;
  }
  .testimonial3-content4 {
    align-items: center;
    justify-content: center;
  }
  .testimonial3-avatar {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .testimonial3-newsletter {
    width: 50%;
  }
  .testimonial3-form {
    width: 100%;
    flex-direction: column;
  }
  .testimonial3-container3 {
    width: 100%;
  }
  .testimonial3-text-input {
    width: 100%;
    padding: var(--dl-layout-space-halfunit);
  }
  .testimonial3-button {
    width: 100%;
    padding-top: var(--dl-layout-space-halfunit);
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .testimonial3-column1 {
    max-width: 100%;
  }
  .testimonial3-column2 {
    max-width: 100%;
  }
  .testimonial3-social-links {
    align-self: center;
  }
  .testimonial3-credits1 {
    flex-direction: column;
  }
  .testimonial3-content3 {
    align-self: center;
  }
}
 
@media(max-width: 767px) {
  .testimonial3-max-width1 {
    padding: var(--dl-layout-space-threeunits);
  }
  .testimonial3-content5 {
    gap: var(--dl-layout-space-twounits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
  }
  .testimonial3-actions1 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .testimonial3-newsletter {
    width: 100%;
  }
  .testimonial3-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .testimonial3-container3 {
    width: 100%;
  }
  .testimonial3-button {
    width: 208px;
  }
  .testimonial3-column1 {
    align-items: center;
  }
  .testimonial3-column1-title {
    text-align: center;
  }
  .testimonial3-footer-links1 {
    align-self: center;
  }
  .testimonial3-column2 {
    align-items: center;
  }
  .testimonial3-column2-title {
    text-align: center;
  }
  .testimonial3-footer-links2 {
    align-self: center;
  }
  .testimonial3-social-links {
    align-self: center;
  }
  .testimonial3-credits1 {
    flex-direction: column;
  }
  .testimonial3-credits2 {
    gap: var(--dl-layout-space-oneandhalfunits);
    width: auto;
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .testimonial3-content3 {
    align-self: center;
  }
}
 
@media(max-width: 479px) {
  .testimonial3-max-width1 {
    padding: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial3-content4 {
    align-self: center;
  }
  .testimonial3-text10 {
    align-self: center;
    text-align: center;
  }
  .testimonial3-text11 {
    text-align: center;
  }
  .testimonial3-avatar {
    flex-direction: column;
  }
  .testimonial3-avatar-content {
    align-items: center;
    margin-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonial3-content5 {
    gap: var(--dl-layout-space-unit);
  }
  .testimonial3-image1 {
    height: 3rem;
  }
  .testimonial3-actions2 {
    width: 100%;
  }
  .testimonial3-form {
    width: 100%;
    flex-direction: column;
  }
  .testimonial3-container3 {
    width: 100%;
  }
  .testimonial3-button {
    width: 100%;
  }
  .testimonial3-links {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial3-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .testimonial3-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .testimonial3-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .testimonial3-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .testimonial3-social-links {
    align-items: center;
    justify-content: center;
  }
  .testimonial3-credits1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}

.team2-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.team2-container2 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.team2-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-layout-size-maxwidth);
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: space-between;
}
 
.team2-navlink1 {
  display: contents;
}
 
.team2-image1 {
  height: 3rem;
  text-decoration: none;
}
 
.team2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.team2-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 351px;
  display: flex;
  position: relative;
  align-items: center;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
 
.team2-link21 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.team2-link31 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.team2-link22 {
  font-style: normal;
  font-weight: bold;
  margin-right: 0px;
  text-decoration: none;
}
 
.team2-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle10 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.team2-text10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.team2-dropdown-arrow1 {
  transition: 0.3s;
}
 
.team2-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.team2-dropdown-list1 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.team2-dropdown10 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle11 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle11:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text11 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown11 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle12 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle12:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown12 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle13 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle13:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text13 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown13 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle14 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle14:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-dropdown14 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle15 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle15:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-dropdown15 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle16 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle16:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle17 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.team2-text14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.team2-dropdown-arrow2 {
  transition: 0.3s;
}
 
.team2-icon12 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.team2-dropdown-list2 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.team2-dropdown16 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle18 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle18:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-dropdown17 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle19 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle19:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink6 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-dropdown18 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle20 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle20:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text15 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown19 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle21 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle21:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-buttons1 {
  gap: var(--dl-layout-space-twounits);
  width: 413px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.team2-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.team2-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.team2-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.team2-text18 {
  color: #000000;
}
 
.team2-action22 {
  display: flex;
  margin-left: var(--dl-layout-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
 
.team2-text19 {
  color: #000000;
}
 
.team2-burger-menu {
  display: none;
}
 
.team2-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.team2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.team2-logo {
  height: 3rem;
}
 
.team2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.team2-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.team2-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.team2-link1 {
  text-decoration: none;
}
 
.team2-link32 {
  text-decoration: none;
}
 
.team2-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.team2-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.team2-thq-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle22 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.team2-text20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.team2-dropdown-arrow3 {
  transition: 0.3s;
}
 
.team2-icon18 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.team2-dropdown-list3 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.team2-dropdown20 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle23 {
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle23:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text21 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown21 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle24 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle24:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown22 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle25 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle25:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text23 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown23 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle26 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle26:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink7 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-dropdown24 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle27 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle27:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text24 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-thq-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle28 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  padding: 0px;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius2);
  padding-right: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.team2-text25 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Hind";
  font-weight: 700;
  margin-right: 4px;
  vertical-align: middle;
}
 
.team2-dropdown-arrow4 {
  transition: 0.3s;
}
 
.team2-icon20 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
 
.team2-dropdown-list4 {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.team2-dropdown25 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle29 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle29:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text26 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown26 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle30 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle30:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-navlink8 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
  text-decoration: none;
}
 
.team2-dropdown27 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle31 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle31:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text27 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-dropdown28 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-layout-radius-radius2);
}
 
.team2-dropdown-toggle32 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.team2-dropdown-toggle32:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
 
.team2-text28 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Hind";
  font-weight: 700;
}
 
.team2-buttons2 {
  gap: var(--dl-layout-space-twounits);
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.team2-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.team2-fragment10 {
  display: contents;
}
 
.team2-text31 {
  display: inline-block;
}
 
.team2-fragment11 {
  display: contents;
}
 
.team2-text32 {
  display: inline-block;
}
 
.team2-fragment12 {
  display: contents;
}
 
.team2-text33 {
  display: inline-block;
}
 
.team2-fragment13 {
  display: contents;
}
 
.team2-text34 {
  display: inline-block;
}
 
.team2-fragment14 {
  display: contents;
}
 
.team2-text35 {
  display: inline-block;
}
 
.team2-fragment15 {
  display: contents;
}
 
.team2-text36 {
  display: inline-block;
}
 
.team2-fragment16 {
  display: contents;
}
 
.team2-text37 {
  display: inline-block;
}
 
.team2-fragment17 {
  display: contents;
}
 
.team2-text38 {
  display: inline-block;
}
 
.team2-fragment18 {
  display: contents;
}
 
.team2-text39 {
  display: inline-block;
}
 
.team2-fragment19 {
  display: contents;
}
 
.team2-text40 {
  display: inline-block;
}
 
.team2-fragment20 {
  display: contents;
}
 
.team2-text41 {
  display: inline-block;
}
 
.team2-fragment21 {
  display: contents;
}
 
.team2-text42 {
  display: inline-block;
}
 
.team2-fragment22 {
  display: contents;
}
 
.team2-text43 {
  display: inline-block;
}
 
.team2-fragment23 {
  display: contents;
}
 
.team2-text44 {
  display: inline-block;
}
 
.team2-fragment24 {
  display: contents;
}
 
.team2-text45 {
  display: inline-block;
}
 
.team2-fragment25 {
  display: contents;
}
 
.team2-text46 {
  display: inline-block;
}
 
.team2-fragment26 {
  display: contents;
}
 
.team2-text47 {
  display: inline-block;
}
 
.team2-fragment27 {
  display: contents;
}
 
.team2-text48 {
  display: inline-block;
}
 
.team2-fragment28 {
  display: contents;
}
 
.team2-text49 {
  display: inline-block;
}
 
.team2-fragment29 {
  display: contents;
}
 
.team2-text50 {
  display: inline-block;
}
 
.team2-fragment30 {
  display: contents;
}
 
.team2-text51 {
  display: inline-block;
}
 
.team2-fragment31 {
  display: contents;
}
 
.team2-text52 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .team2-desktop-menu {
    display: none;
  }
  .team2-burger-menu {
    display: flex;
  }
}
 
@media(max-width: 767px) {
  .team2-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .team2-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .team2-mobile-menu {
    padding-top: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .team2-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .team2-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
