.features12-layout349 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.features12-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.features12-video {
  width: 100%;
}
 
.features12-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features12-text1 {
  align-self: center;
  text-align: center;
}
 
.features12-text2 {
  align-self: center;
  text-align: center;
}
 
.features12-actions {
  align-self: center;
}
 
.features12-fragment1 {
  display: contents;
}
 
.features12-text3 {
  display: inline-block;
}
 
.features12-fragment2 {
  display: contents;
}
 
.features12-text4 {
  display: inline-block;
}
 
.features12-fragment3 {
  display: contents;
}
 
.features12-text5 {
  display: inline-block;
}
 
.features12-fragment4 {
  display: contents;
}
 
.features12-text6 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features12-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .features12-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .features12-actions {
    width: 100%;
    flex-direction: column;
  }
  .features12-button1 {
    width: 100%;
  }
  .features12-button2 {
    width: 100%;
  }
}
