.timeline5-max-width {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline5-container11 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.timeline5-text10 {
  text-align: center;
}
 
.timeline5-text11 {
  text-align: left;
}
 
.timeline5-container12 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline5-timeline-container {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.timeline5-step1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
 
.timeline5-container13 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline5-container14 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline5-progress01 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline5-container15 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline5-container16 {
  width: 463px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.timeline5-text14 {
  text-align: left;
}
 
.timeline5-container17 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline5-step2 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
 
.timeline5-container18 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline5-container19 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline5-progress02 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline5-container20 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline5-container21 {
  width: 463px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.timeline5-text19 {
  text-align: left;
}
 
.timeline5-container22 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline5-step3 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
 
.timeline5-container23 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline5-container24 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline5-progress03 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline5-container25 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline5-container26 {
  width: 464px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.timeline5-text24 {
  text-align: left;
}
 
.timeline5-container27 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline5-step4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
 
.timeline5-container28 {
  flex: 1;
  left: var(--dl-layout-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.timeline5-container29 {
  width: 12px;
  height: 12px;
  margin: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-round);
  background-color: #000000;
}
 
.timeline5-progress04 {
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
 
.timeline5-container30 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: flex-start;
}
 
.timeline5-container31 {
  width: 466px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
 
.timeline5-text29 {
  text-align: left;
}
 
.timeline5-container32 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.timeline5-fragment10 {
  display: contents;
}
 
.timeline5-text33 {
  display: inline-block;
}
 
.timeline5-fragment11 {
  display: contents;
}
 
.timeline5-text34 {
  display: inline-block;
}
 
.timeline5-fragment12 {
  display: contents;
}
 
.timeline5-text35 {
  display: inline-block;
}
 
.timeline5-fragment13 {
  display: contents;
}
 
.timeline5-text36 {
  display: inline-block;
}
 
.timeline5-fragment14 {
  display: contents;
}
 
.timeline5-text37 {
  display: inline-block;
}
 
.timeline5-fragment15 {
  display: contents;
}
 
.timeline5-text38 {
  display: inline-block;
  font-weight: 700;
}
 
.timeline5-fragment16 {
  display: contents;
}
 
.timeline5-text39 {
  display: inline-block;
}
 
.timeline5-fragment17 {
  display: contents;
}
 
.timeline5-text40 {
  display: inline-block;
}
 
.timeline5-fragment18 {
  display: contents;
}
 
.timeline5-text41 {
  display: inline-block;
}
 
.timeline5-fragment19 {
  display: contents;
}
 
.timeline5-text42 {
  display: inline-block;
}
 
.timeline5-fragment20 {
  display: contents;
}
 
.timeline5-text43 {
  display: inline-block;
}
 
.timeline5-fragment21 {
  display: contents;
}
 
.timeline5-text44 {
  display: inline-block;
}
 
.timeline5-fragment22 {
  display: contents;
}
 
.timeline5-text45 {
  display: inline-block;
}
 
.timeline5-fragment23 {
  display: contents;
}
 
.timeline5-text46 {
  display: inline-block;
}
 
.timeline5-fragment24 {
  display: contents;
}
 
.timeline5-text47 {
  display: inline-block;
}
 
.timeline5-fragment25 {
  display: contents;
}
 
.timeline5-text48 {
  display: inline-block;
}
 
.timeline5-text53 {
  font-style: italic;
}
 
.timeline5-fragment26 {
  display: contents;
}
 
.timeline5-text55 {
  display: inline-block;
}
 
.timeline5-fragment27 {
  display: contents;
}
 
.timeline5-text56 {
  display: inline-block;
}
 
.timeline5-fragment28 {
  display: contents;
}
 
.timeline5-text57 {
  display: inline-block;
}
 
.timeline5-fragment29 {
  display: contents;
}
 
.timeline5-text58 {
  display: inline-block;
}
 
.timeline5-fragment30 {
  display: contents;
}
 
.timeline5-text59 {
  display: inline-block;
}
 
.timeline5-fragment31 {
  display: contents;
}
 
.timeline5-text60 {
  display: inline-block;
}
 
.timeline5-fragment32 {
  display: contents;
}
 
.timeline5-text61 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .timeline5-max-width {
    gap: var(--dl-layout-space-twounits);
  }
}
 
@media(max-width: 767px) {
  .timeline5-max-width {
    flex-direction: column;
  }
  .timeline5-text11 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .timeline5-text14 {
    text-align: left;
  }
  .timeline5-text19 {
    text-align: left;
  }
  .timeline5-text24 {
    text-align: left;
  }
  .timeline5-text29 {
    text-align: left;
  }
}
 
@media(max-width: 479px) {
  .timeline5-container12 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline5-container17 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline5-container22 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline5-container27 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
  .timeline5-container32 {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
  }
}
